<!DOCTYPE html>
<html lang="zh_tw">
<head>
<title>angular.js - 切版移动css框架</title>
<meta charset="utf-8" />

<meta content="width=device-width,initial-scale=1" name="viewport">
<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="assets/css/qieban.css"  />
<link rel="stylesheet" href="css/docs.css"  />


</head>
<body class="layout" ng-app="" ng-init="arr=['1111','2222','3333','4444'];">


	<div class="header">
		<h1><a href="index.html"><img src="imgs/logo.png"/></a></h1>
    	
    </div>

<div class="wrapper hero">
	<h1>计算器</h1>
    <p>这是一个基于Angular.js的计算器</p>
</div>

<div class="wrapper">
	<ul class="ngtest">
		<li>
			<input type="text" name="" id="" value="" ng-model='aa'/>
		</li>
		<li>
			<input type="text" name="" id="" value="" ng-model='bb' />
		</li>
		<li>
			结果等于 {{ aa*bb }}		</li>
	</ul>
	
	<dl>
		<dd ng-repeat="x in arr">
			{{ x }}		</dd>
	</dl>
	
	<p>
		<input type="" name="" id="" value="" ng-model='txt' />
		<p>输入的是 <span ng-bind='txt'></span></p>
	</p>
</div>



<div class="footer">
	切版 qieban（.cn）</div>


<script src="assets/js/jquery-1.8.3.min.js" ></script>
<script src="assets/js/jquery.mobile-1.0.1.min.js"></script>
<!--解决手机端click点击延迟-->
<script src="js/fastclick.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/qieban.js" ></script>
</body>
</html>
